{% extends 'users/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/profiletest.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/basket.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<form action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row col">
            <div class="col profile-form-container">
                 <h1 class="form-title">Account Setting</h1>
                 <div class="form-fields">
                        <div class="form-field-title">
                            <img class="rounded-circle mt-5" width="150px" height="150px"
                            src="{% if user.image %}
                            {{ user.image.url }}
                            {% else %}
                            {% static 'users/img/default avatar.jpg' %}
                            {% endif %}">
                        </div>
                        <div class="form-field">
                           <label class="btn-color-custom-layout">Change photo {{ form.image }}</label>
                        </div>

                        <div class="form-field">
                            <div class="form-field-info">username</div>
                            <div class="form-field-about">{{ form.username }}</div>
                        </div>

                        <div class="form-field">
                            <div class="form-field-info">email</div>
                            <div class="form-field">{{ form.email }}</div>
                        </div>

                        <div class="form-field">
                            <div class="form-field-info">name</div>
                            <div class="form-field">{{ form.first_name }}</div>
                        </div>

                        <div class="form-field">
                             <div class="form-field-info">surname</div>
                            <div class="form-field">{{ form.last_name }}</div>
                        </div>

                        <div class="form-field">
                            <div class="form-field-info">mobile</div>
                            <div class="form-field">{{ form.phone_number }}</div>
                        </div>

                        <div class="form-field">
                            <div class="form-row">
                                <div class="col-lg-12" style="margin-top: 33px;">
                                    <input class="btn-color-custom-layout" type="submit" value="Update">
                                </div>
                            </div>
                        </div>
                 </div>
            </div>
        {% include 'store/baskets.html'%}
        </div>

    </div>
</form>

{% endblock %}