{% extends 'web/layout.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static '/store/css/catalog.css' %}">
{% endblock %}

<!-- Блок заголовка страницы -->
{% block title %}Store page{% endblock %}

<!-- Блок основного контента -->
{% block content %}
<!--               <div class="row">-->
<!--                   {% for product in products %}-->
<!--                            <div class="col-lg-4 col-md-6 mb-4">-->
<!--                                <div class="card h-100">-->
<!--                                    <a href="#">-->
<!--                                        <img class="card-img-top"-->
<!--                                             src="{% if product.image %}-->
<!--                                            {{ product.image.url }}-->
<!--                                            {% else %}-->
<!--                                            {% static 'store/img/default product.png' %}-->
<!--                                            {% endif %}" alt="Card image cap">-->
<!--                                    </a>-->

<!--                                    <div class="card-body">-->
<!--                                        <h4 class="card-title">-->
<!--                                            <a href="#">{{ product.name }}</a>-->
<!--                                        </h4>-->
<!--                                        <h5>{{ product.price }} ₪</h5>-->
<!--                                        <p class="card-text">{{ product.description }}</p>-->
<!--                                    </div>-->

<!--                                    <div class="card-footer text-center">-->
<!--                                        <a class="btn btn-danger"-->
<!--                                           href="#">-->
<!--                                            Add to card-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                </div>-->

<div class="container">
    <div class="row">

        <!--Category-->
        <div class="col-lg-3">
            <h1 class="my-4 my-4-color">Category</h1>
            <div class="list-group">
                <ul>
                    {% for cat in cat_products%}
                        <li class="list-group-item">
                             <a href="#">
                                    <img class="cat-ico"
                                    src="{% if cat.image %}
                                    {{ cat.image.url }}
                                    {% else %}
                                    {% static 'store/ico/icons8-carousel-30.png' %}
                                    {% endif %}" alt="Category ico">
                                </a>
                            <a href="#" >{{ cat.name }}</a>
                        </li>
                    {% endfor %}
                </ul>



            </div>
        </div>

        <!--Main Content Store-->
        <div class="col-lg-9">
            <div class="row">
                {% for product in products %}
            <div class="col-lg-4 col-sm-6 cl-custom">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="#">
                            <img class="card-img-top"
                            src="{% if product.image %}
                            {{ product.image.url }}
                            {% else %}
                            {% static 'store/img/default product.png' %}
                            {% endif %}" alt="Card image cap">
                        </a>
                    </div>

                    <div class="product-details">
                        <div class="product-price">{{ product.price }} ₪</div>
                        <h4><a href="">{{ product.name }}</a></h4>
                        <p>{{ product.description }}</p>
                        <div class="product-bottom-details">

                            <div class="product-links">
                                <a class="btn-color-custom" href="#">Add to card</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
            </div>

        </div>

    </div>
</div>
{% endblock %}