<!--Html домашней страницы. -->

<!--Подключение CSS-->
<!--Наследование от файла layout.-->
{% extends 'web/layout.html' %}
{% load static %}

<!-- Блок заголовка страницы -->
{% block css %}
    <link rel="stylesheet" href="{% static 'datepicker/css/datepicker.min.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

<!-- Блок основного контента -->
{% block content %}
<!--<div class="cont-block"></div>-->

<div class="features">
    <div class="features-block">

        <h1>Welcome to Solovent!</h1>
        <p>Choose your date of event</p>

<!--            <form action="{% url 'store:catalog' %}" method="get">-->
<!--                 <div class="div-custom">-->
<!--                      <input type="datetime-local" name="weekend" value="2023-01-01"-->
<!--                             class="calendar" required="" id="id_weekend">-->
<!--                      <button class="btn-my-custom" type="submit">Start your event</button>-->
<!--                 </div>-->
<!--            </form>-->
        <form action="{% url 'store:catalog' %}" method="get">
            <div class="div-custom">
                <input type="text" name="weekend" class="calendar" id="datepicker">
                 <button class="btn-my-custom" type="submit">Start your event</button>
            </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script src="{% static 'datepicker/js/datepicker.min.js' %}"></script>

                <script src="{% static 'datepicker/js/i18n/datepicker.en.js' %}"></script>
                <script>
                    $(function(){
                        $('#datepicker').datepicker({
                            language: 'en',
                            minDate: new Date(),
                            maxDate: new Date(Date.now() + ( 3600 * 1000 * 730)),
                            autoClose: false,
                            timepicker: true,
                            minutesStep: 10,
                            buttons: ['today', 'clear'],
                        });

                    });
                </script>
        </form>



    </div>
</div>

{% endblock %}

