<!--Html домашней страницы. -->


<!--Подключение CSS-->
<!--Наследование от файла layout.-->
{% extends 'web/layout.html' %}

<!-- Блок заголовка страницы -->
{% block title %}Home page{% endblock %}

<!-- Блок основного контента -->
{% block content %}
    <div class="features">
        <div class="features-block">
            <h1>Welcome to Solovent!</h1>
            <p>Here you can fully assemble your event,<br> choose food, music, design and much more!<br>
            We are always happy to help you with the choice, so we constantly update and moderate the products presented on our platform.
            </p>
            <a href="{% url 'authorization' %}"><button type="button" class="btn btn-primary">GET STARTED!</button></a>
        </div>
    </div>

{% endblock %}
